version: "3.9"

services:
  xkcd-server:
    build:
      context: ./XKCD-Scraper-HTTP-Server
      dockerfile: Dockerfile
    container_name: xkcd-server
    ports:
      - "8080:8080"
    volumes:
      - ./comics:/comics    
    networks:
      - xkcd-net


  xkcd-client:
    build:
      context: ./XKCD-Client
      dockerfile: Dockerfile
    container_name: xkcd-client
    depends_on:
      - xkcd-server
    environment:
      - SERVER_URL=http://xkcd-server:8080
    networks:
      - xkcd-net

  xkcd-frontend:
    build:
      context: ./XKCD-frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_SERVER_URL: http://xkcd-server:8080
    container_name: xkcd-frontend
    depends_on:
      - xkcd-server
    ports:
      - "3000:80"
    networks:
      - xkcd-net

networks:
  xkcd-net:

    driver: bridge

